@use 'bem';

.dte-tokens-block {
  display: flex;
  flex-direction: column;
  gap: var(--dte-tokens-block-gap);

  &:not(:last-child) {
    margin-bottom: 0.5em;
  }

  @include bem.element('context-row') {
    font-weight: bolder;
    font-family: var(--dte-tokens-block-context-row-font-family);
    font-size: var(--dte-tokens-block-context-row-font-size);
    color: var(--dte-tokens-block-context-row-color);

    border: solid 1px #ddd;
    border-bottom: solid 2px #ccc;
    background: hsl(0, 0%, 98%);
    box-shadow: 2px 2px 3px 0px rgba(222, 79, 232, 0.1);
    padding: 0.5em 1em;
    position: sticky;
    top: 0;

    @include bem.modifier('with-click-handler') {
      cursor: pointer;
    }
  }

  @include bem.element('tokens') {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding-left: 0.3em;
    padding-right: 0.3em;
  }
}
