@use 'bem';

.dte-token-value {
  display: flex;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;

  @include bem.element('input') {
    font-family: monospace;
    padding: 0.2em 0.4em;
    text-align: center;
  }
}
